@media all and (max-width:720px) {

  #body_content
  {
    width:100%;
  }

  #welcome, #popular, #selection, #login, #footer
  {
    width:100%;
  }

  div.module
  {
    width:100%;
    margin-right:0;
    margin-bottom: 10px;
  }

}